<div class="container">
    <div class="row justify-content-center">
      <div class="col-5">
        <h3 class="bg-primary text-white">
          Your todo lists
        </h3>
        <div class="input-group">
          <input type="text"class="form-control">
          <div class="input-group-append">
            <button class="btn btn-primary">ADD</button>
          </div>
        </div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Spor Yap</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Ekmek Al</td>
              <td>No</td>
            </tr>
            <tr>
              <td>Kırık Kanatlarla Uç</td>
              <td>No</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>